page-sllwList {
    .nav-btn {
        margin-left: 0px;
        margin-right: 15px;
    }

    .add-navi-gird {
        padding: 0 0 0 0px; 
        height: 44px; 
        
        ion-row {
            ion-col {
                padding: 0px;
                
                ion-item {
                    padding: 0px;
                    background-color: map-get($colors, itop);

                    ion-input {
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    

    ion-scroll {
        white-space: nowrap;
        height: 100%;
    }

    ion-row {
        flex-wrap: nowrap;
    }

    .icontent {

        .ilist-add {
            width: 1000px;
            background-color: map-get($colors, itop);
        }

        .ilist-row {
            width: 1000px;

            .row-header {
                ion-item {
                    text-align: center;
                }
            }
            
            .row-list {

                .item-trash {
                    text-align: center;
                    ion-label {
                        margin: 0px;
                    }
                }
            }
        }

        ion-select {
            width: 100%;
            max-width: 100% !important;
        }
    }    
}