<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="lec" >{{lec.name}}</ion-title>

    <ion-buttons class="nav-btn" end *ngIf="!isEdit && !isOrder" (click)="download()" >
      <button ion-button icon-only color="secondary">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons class="nav-btn" end *ngIf="!isEdit && !isOrder" (click)="startEdit()" >
      <button ion-button icon-only>
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons class="nav-btn" end *ngIf="!isEdit && !isOrder" (click)="startOrder()" >
      <button ion-button icon-only>
        <ion-icon name="move"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons class="nav-btn" end *ngIf="isEdit || isOrder" (click)="save()" >
      <button ion-button icon-only color="primary">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons class="nav-btn" end *ngIf="isEdit && !isOrder" (click)="file.click()" >
      <button ion-button icon-only color="secondary">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons class="nav-btn" end *ngIf="isEdit || isOrder" (click)="cancel()" >
      <button ion-button icon-only color="danger">
        <ion-icon name="redo"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="icontent">
  <input #file type="file" multiple="false" (change)="onFileChange($event)" style="display: none"/>

  <ion-scroll scrollX="true" scrollY="true" *ngIf="!isOrder" >
    <ion-list class="ilist-add" *ngIf="!isEdit && !isOrder">
      <ion-grid>
        <ion-row>
          <ion-col col-36>
            <ion-item><ion-input type="text" [(ngModel)]="newWord.col01" placeholder="question" 
              (keyup.enter)="addWord()"></ion-input></ion-item>
          </ion-col>
          <ion-col col-18>
            <ion-item><ion-input type="text" [(ngModel)]="newWord.col02" placeholder="choice1" 
              (keyup.enter)="addWord()"></ion-input></ion-item>
          </ion-col>
          <ion-col col-18>
            <ion-item><ion-input type="text" [(ngModel)]="newWord.col03" placeholder="choice2" 
              (keyup.enter)="addWord()"></ion-input></ion-item>
          </ion-col>
          <ion-col col-18>
            <ion-item><ion-input type="text" [(ngModel)]="newWord.col04" placeholder="answer" 
              (keyup.enter)="addWord()"></ion-input></ion-item>
          </ion-col>
          <ion-col col-10>
            <button ion-button item-right (click)="addWord()" >Add</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  
    <ion-list class="ilist-row" *ngIf="!isOrder">
      
      <ion-row class="row-header">
        <ion-col col-36><ion-item><ion-label>question</ion-label></ion-item></ion-col>
        <ion-col col-18><ion-item><ion-label>choice1</ion-label></ion-item></ion-col>
        <ion-col col-18><ion-item><ion-label>choice2</ion-label></ion-item></ion-col>
        <ion-col col-18><ion-item><ion-label>answer</ion-label></ion-item></ion-col>
      </ion-row>

      <ng-container *ngIf="!isEdit" >
      <ion-row class="row-list" *ngFor="let word of words">
        <ion-col col-36><ion-item><ion-label>{{word.col01}}</ion-label></ion-item></ion-col>
        <ion-col col-18><ion-item><ion-label>{{word.col02}}</ion-label></ion-item></ion-col>
        <ion-col col-18><ion-item><ion-label>{{word.col03}}</ion-label></ion-item></ion-col>
        <ion-col col-18><ion-item><ion-label>{{word.col04}}</ion-label></ion-item></ion-col>
      </ion-row>
      </ng-container>

      <ng-container *ngIf="isEdit" >
      <ion-row class="row-list" *ngFor="let word of words_; let i = index;">
        <ion-col col-36>
          <ion-item><ion-input type="text" [(ngModel)]="word.col01"></ion-input></ion-item>
        </ion-col>
        <ion-col col-18>
          <ion-item><ion-input type="text" [(ngModel)]="word.col02"></ion-input></ion-item>
        </ion-col>
        <ion-col col-18>
          <ion-item><ion-input type="text" [(ngModel)]="word.col03"></ion-input></ion-item>
        </ion-col>
        <ion-col col-18>
          <ion-item><ion-input type="text" [(ngModel)]="word.col04"></ion-input></ion-item>
        </ion-col>
        <ion-col col-10>
          <ion-item class="item-trash">
            <ion-buttons (click)="trashWord(i, word)">
              <button ion-button clear icon-only color="danger">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>
      </ng-container>

    </ion-list>
  </ion-scroll>

  <ion-list class="ilist-item" *ngIf="isOrder" reorder="true" (ionItemReorder)="reorderWords($event)">
    <ion-item *ngFor="let word of words_; let i = index;">
      {{i+1}}. {{word.col01}}
    </ion-item>
  </ion-list>

</ion-content>